/* SECCION DE INTRO */

.about-page {
  background: var(--color-background);
  flex: 1;
  display: flex;
  flex-direction: column;
}

.aboutintro,
.aboutpurpose {
  flex: 1;
}

.aboutintro {
  display: flex;
  flex: 1;
  align-items: center;
  padding-left: 3rem;
  padding-right: 2rem;
}

.aboutintro-image {
  display: flex;
  align-items: center;
  justify-content: center;
}

.aboutintro-content {
  padding-right: 3rem;
}

.aboutintro-image img {
  width: 100%;
  max-width: 600px; /*agregado recien, estoy probando*/
  object-fit: contain;
}

.aboutintro-title {
  margin-top: 1rem;
}

.aboutintro-description {
  text-align: justify;
}

@media (max-width: 992px) {
  .aboutintro {
    flex-direction: column-reverse;
  }

  .aboutintro-image img {
    max-width: 100%; /*agregado recien, estoy probando*/
    height: auto;
  }
}

/* SECCION DE MISION, VISION Y VALORES */

.aboutpurpose {
  padding-left: 3rem;
  padding-right: 2rem;
}

.aboutpurpose-icon {
  width: 85px;
  height: 85px;
  margin: 0 auto 1.5rem;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 50%;
  background-color: var(--color-primary-light);
}

.aboutpurpose-icon i {
  font-size: 2rem;
  color: var(--color-primary);
}

.aboutpurpose .card-text {
  text-align: center;
  line-height: 1.7;
}

.aboutpurpose .card-title {
  text-align: center;
}

.aboutpurpose-values {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 12px;
  margin-top: 25px;
}

.aboutpurpose-values span {
  padding: 8px 16px;

  border-radius: 30px;

  background: var(--color-primary-light);

  color: var(--color-primary);

  font-size: 0.9rem;

  font-weight: 500;
}
