/* SECCION DE SERVICES HERO */
.services-hero {
  background: var(--color-background);
  margin: 0;
  padding: 0;
}

.hero-content {
  padding: 3rem;
  padding-bottom: 0;
}

.hero-subtitle {
  font-size: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: var(--color-text-secondary);
  font-weight: 600;
  margin-bottom: 10px;
}

.hero-title {
  margin-top: 1rem;
}

.hero-blueline {
  width: 50px;
  height: 3px;
  background-color: var(--color-primary);
  border-radius: 999px;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.hero-title-highlight {
  color: var(--color-primary);
}

.hero-description-highlight {
  color: var(--color-primary);
  font-weight: 600;
}

.hero-benefits {
  height: 100%;
  align-items: center;
}

.benefit-item {
  text-align: center;
  padding: 0 1rem;
}

.benefit-item.border-end {
  border-color: #e9ecef !important;
}

.benefit-icon {
  width: 70px;
  height: 70px;
  margin: 0 auto 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--color-primary-light);
  border-radius: 50%;
}

.benefit-icon i {
  font-size: 2rem;
  color: var(--color-primary);
}

.benefit-title {
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.4;
  color: var(--color-text);
}

/* SECCION DE CARDS */
.hero-cards {
  background-color: var(--color-background);
  display: flex;
  margin: 0;
  padding: 0;
}

.card-img-top {
  object-fit: cover;
  height: 200px;
  width: auto;
}
