@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

:root {
  /* Colores */
  --color-primary: #0d6efd;
  --color-primary-dark: #0b2a4a;
  --color-primary-light: #eef4ff;

  --color-text: #212529;
  --color-text-secondary: #6c757d;

  --color-background: #ffffff;

  --color-border: #e9edf3;
}

body {
  margin: 0;
  background-color: whitesmoke;
  font-family: "Poppins", sans-serif;
}

.layout-public {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
